<!doctype html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Calcul mental</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="entete">
        <div class="bouton"><a href="/">Accueil</a></div>
        <div class="bouton"><a href="{{ url_for('classement') }}">Classement</a></div>
    </div>
    <h1 id="titre"><a href="{{ url_for('static', filename='Accueil.html') }}"></a>Calcul Mental</h1>
    <p>Calcul {{ numero }} sur 10 </p>
    <h1>{{ calcul }}</h1>
    <div id="calcul">
        <form action="/suivant/" method="POST">
            <input type="text" id="resultat" name="resultat" autofocus>
            <input type="hidden" name="difficulte" value="{{ difficulte }}">
            <input type="hidden" name="calcul" value="{{ calcul }}">
            <input type="hidden" name="operation" value="{{ operation }}">
            <input type="hidden" name="type" value="classique">
            <input type="hidden" name="numero" value="{{ numero }}">
            <input type="hidden" name="calcul_juste" value="{{ calcul_juste }}">
            <input type="submit" name="suivant"  value="suivant">
        </form>
    </div>
</body>
</html>